# Supabase
PUBLIC_SUPABASE_URL=https://seu-projeto.supabase.co
PUBLIC_SUPABASE_ANON_KEY=sua-anon-key
SUPABASE_SERVICE_ROLE_KEY=sua-service-role-key

# Dexie Cloud (opcional)
# VITE_DEXIE_CLOUD_URL=https://seu-projeto.dexie.cloud


# Ambiente
PUBLIC_ENVIRONMENT=development
